* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

svg {
  display: block;
}
main {
  flex: 1 1 100%;
}
a,
a:is(:hover, :focus) {
  text-decoration: none;
}
input {
  &:autofill,
  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
    background: transparent !important;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
