.main {
  flex: 1 1 100%;
  padding: 60px 0;

  &__container {
    position: relative;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 6px));
    gap: 12px;
  }

  &__left {
    grid-column: 1 / 2;
    &_thin {
      grid-column: 1 / 2;
    }
  }
}
