.search {
  display: flex;
  width: 100%;
  max-width: 494px;
  padding: 4px 4px 4px 16px;
  border-radius: 40px;
  background: var(--color-bg-light);
}

.search:has(input:focus-visible) {
  outline: var(--color-text) solid 1px;
}

.search__input {
  width: 100%;
  border: none;
  font-weight: 300;
  font-size: 14px;
  color: var(--color-text);
  background: transparent;
}

.search__input:focus-visible {
  outline: none;
}

.search__input::placeholder {
  opacity: 0.4;
}

.dark .search__input::placeholder {
  opacity: 0.8;
}

.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: none;
  border-radius: 32px;
  background: var(--color-bg-dark);
  flex-shrink: 0;
  cursor: pointer;
}
